.container {
    width: 1180px;
    height: auto;
    display: grid;
    padding: 20px;
    margin: 20px auto 20px auto;
    background-color: grey;
}

.header {
    text-align: center;
    border: 2px solid black;
    display: grid;
    height: 80px;
    align-items: center;
    background-color: white;
    text-align: center;
}

.body {
    display: grid;
    height: 500px;
    margin-top: 20px;
    grid-template-columns: 69.3% 29%;
    gap: 20px;
}

.body-left {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    background-color: white;
}

.body-right {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.footer {
    display: grid;
    height: 64px;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin: 20px 0 20px 0;
}
.footer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
}

.footer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
}

.footer3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
}